# Django
*.pyc
*__pycache__/
*.pyo
*.pyd
backend/db.sqlite3
*.log

# Virtual Environment
backend/venv/
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Gunicorn socket and pid
backend/socket.sock
*.pid

# Database
*.db

# Media files
backend/media/

# Локальные настройки
backend/local_settings.py
backend/secrets.py
